* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body {
    background: url('background.png');
    background-repeat: no-repeat;
    background-size: 100%;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
}

.container {
    position: relative;
    width: 100vw;
    height: 100vh;
}

.sniper {
    height: 130px;
    width: 130px;
}

p {
    color: white;
    font-size: 80px;
    position: absolute;
    top: 5%;
    left: 50%;
    transform: translateX(-50%);
}

button {
    text-align: center;
    padding: 25px;
    font-size: 30px;
    border-radius: 20px;
    position: absolute;
    top: 20%;
    left: 50%;
    transform: translateX(-50%);
}

.target {
    position: absolute;
    top: 35%;
    left: 50%;
    transform: translateX(-50%);
}